# Copy to phpstan.neon and edit as appropriate.
includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
  - larastan.neon
parameters:
  scanDirectories:
    # WordPress root - this might work in a standard non-symlinked Forme setup but you'll usually want the absolute path to a local wordpress installation
    - ../../../
  level: 6
  bootstrapFiles:
    - phpstan-suppress-errors.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
  ignoreErrors:
    - "#Unsafe usage of new static#"
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  paths:
    - ./app
  excludePaths:
    - tests
