# Copy to phpstan.neon and edit as appropriate.
# The below should work in a standard non-symlinked Forme WP set up, where the vendor is one up from the WP root folder, but it won't work with symlinks or with the Bedrock directory structure
includes:
  - ../../../../vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  scanDirectories:
    # WordPress root
    - ../../../
  level: 6
  bootstrapFiles:
    - ../../../../vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - ../../../../vendor/paulthewalton/acf-pro-stubs/acf-pro-stubs.php
  ignoreErrors:
    - "#Unsafe usage of new static#"
  checkMissingIterableValueType: false
