{% extends('layouts/main.twig') %}
{% block content %}
    <!-- Title -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 text-center">
                    <h1>Blog Name</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Posts -->
    <section>
        <div class="container">
            {% for post in posts %}
                <div class="card">
                    <img class="card-img-top" src="{{ fn('get_the_post_thumbnail_url', post.ID) }}">
                    <div class="card-body">

                        <h5 class="card-title">{{ fn('get_the_title', post.ID) }}</h5>
                        <p class="card-text">{{ fn('get_the_excerpt', post.ID) }}</p>
                        <a href="{{ fn('get_the_permalink', post.ID) }}" class="card-link">Read More...</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
